<%- include('partials/header') %> 
            <!-- content @s -->
            <div class="nk-content nk-content-fluid">
                <div class="container-xl wide-xl">
                    <div class="nk-content-inner">
                        <div class="nk-content-body">
                            <div class="nk-block iframe-padding">
                                <iframe class="iframe" src="https://reports.biggorilla.tech/datawall/1868aba7d5d1107a78d923b3cf28194f0624311ca/"></iframe>
                            </div><!-- .nk-block -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- content @e -->
            <%- include('partials/footer') %> 
        </div>
        <!-- wrap @e -->
    </div>
    
     <!-- JavaScript -->
     <script src="../assets/js/bundle.js?ver=3.0.3"></script>
     <script src="../assets/js/scripts.js?ver=3.0.3"></script>
     <script src="../assets/js/charts/gd-default.js?ver=3.0.3"></script>
</body>

</html>

