<!DOCTYPE html>
<html lang="zxx" class="js">
<head>
    <meta charset="utf-8">
    <meta name="author" content="BGA">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A Better way to view data.">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="../images/favicon_gorilla.png">
    <!-- Page Title  -->
    <title>404 | BGA Data Template</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="../assets/css/dashlite.css">
    <style>
        h1.error {
            font-size: 150px;
            color: #cc1531;
        }
        p.error-text{
        font-size: 20px;
        }
    </style>
</head>
<body class="nk-body bg-white npc-general pg-auth">
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main ">
            <!-- wrap @s -->
            <div class="nk-wrap nk-wrap-nosidebar">
                <!-- content @s -->
                <div class="nk-content ">
                    <div class="nk-block nk-block-middle nk-auth-body  wide-xs">
                        <div class="brand-logo pb-4 text-center">
                            <h1 class="error">404</h1>
                            <p class="error-text">Page Not Found</p>
                            <div class="form-group">
                                <a class="btn btn-lg btn-primary" href="/">
                                    Go home
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content @e -->
            </div>
             <!-- wrap @e -->
        </div>
        <!-- main @e -->
    </div>
    <!-- app-root @e -->
    <!-- JavaScript -->
    <script src="./assets/js/bundle.js?ver=3.0.3"></script>
    <script src="./assets/js/scripts.js?ver=3.0.3"></script>
   
</html>